<footer class="footer">
    <div class="footer-content">
        <h4>Qui sommes nous :</h4>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua"</p>
    </div>
    <div class="footer-content">
        <h4>Lorem Ipsum :</h4>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
    </div>
    <div class="footer-content">
        <h4>Nous suivre :</h4>
        <div class="social">
            <a href="https://www.linkedin.com/company/ekite/" target="_blank"><img alt="linkedin" src="/assets/images/logo-linkedin.png"></a>
            <a href="https://twitter.com/Ekite_" target="_blank"><img alt="Twitter" src="/assets/images/logo-twitter.png"></a>
            <a href="https://github.com/ekit3" target="_blank"><img alt="Github" src="/assets/images/logo-github.png"></a>
        </div>
    </div>
</footer>
 <div class="copyright">
    <span>Ekite © Copyright 2021. Tous droits réservés</span>
    <a href="">Mentions légales</a>
    <a href="https://github.com/Ekawa-fr" target="_blank">Réalisé par Ekawa</a>
</div>