<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/main.css">
        <link rel="stylesheet" href="/css/ekite.css" />
        <link type="application/atom+xml" rel="alternate" href="http://0.0.0.0:4000/feed.xml" title="Your awesome title" />
    </head>
    <body>
        {% include header.html %}
        <main class="page-content" aria-label="Content">
            {{ include.content }}
        </main>
        {% include footer.html %}
    </body>
</html>