<nav aria-label="Page navigation">
    {% if total_pages > 1 %}
    <ul class="pagination justify-content-center">
      <!-- First Page. -->
      {% unless paginator.page == 1 %}
        <li class="page-item">
          <a 
            class="page-link"
            href="{{ site.baseurl }}{{ paginator.first_page_path }}"
            rel="first">
            <span class="material-icons">
              first_page
            </span>
            <span class="text-link" aria-hidden="true" aria-label="Première">Première</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">
            <span class="material-icons">
              first_page
            </span>
            <span class="text-link" aria-hidden="true" aria-label="Première">Première</span>
          </span>
        </li>
      {% endunless %}

      <!-- Previous Page. -->
      {% if paginator.previous_page %}
        <li class="page-item">
          <a class="page-link" 
            href="{{ site.baseurl }}{{ paginator.previous_page_path }}" 
            rel="prev">
            <span class="material-icons" aria-hidden="true">
              keyboard_arrow_left
            </span>
            <span class="text-link" aria-hidden="true" aria-label="Précédent">Précédent</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">
            <span class="material-icons" aria-hidden="true">
              keyboard_arrow_left
            </span>
            <span class="text-link" aria-hidden="true" aria-label="Précédent">Précédente</span>
          </span>
        </li>
      {% endif %}

      <!-- Indicator Number. -->
      <li class="page-item nb-pages disabled">
        <span class="page-link">
          Page: {{ paginator.page }} sur {{ total_pages }}</span>
      </li>

      <!-- Next Page. -->
      {% if paginator.next_page %}
        <li class="page-item">
          <a class="page-link" 
            href="{{ site.baseurl }}{{ paginator.next_page_path }}" 
            rel="next">
            <span class="text-link" aria-hidden="true" aria-label="Suivante">Suivante</span>
            <span class="material-icons" aria-hidden="true">
              keyboard_arrow_right
            </span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">
            <span class="text-link" aria-hidden="true" aria-label="Suivante">Suivante</span>
            <span class="material-icons" aria-hidden="true">
              keyboard_arrow_right
            </span>
          </span>
        </li>
      {% endif %}
      <!-- Last Page. -->
      {% unless paginator.page == total_pages %}
        <li class="page-item">
          <a class="page-link"
            href="{{ site.baseurl }}{{ paginator.last_page_path }}"
            rel="last">
            <span class="text-link" aria-hidden="true" aria-label="Dernière">Dernière</span>
            <span class="material-icons">
              last_page
            </span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">
            <span class="text-link" aria-hidden="true" aria-label="Dernière">Dernière</span>
            <span class="material-icons" aria-hidden="true">
              last_page
            </span>
          </span>
        </li>
      {% endunless %}
    </ul>
    {% endif %}
  </nav>