<div class="posts">
    {% for post in paginator.posts %}
        <article>
            <h2>{{ post.title }}</h2>
            <div class="post-header">
                {% include author.html %}
                <span>Published on {{ post.date | date_to_string }}</span>
            </div>
            <div class="extract">
                <span></span>{{ post.excerpt }}</span>
                <!-- {{ post.excerpt | strip_html | strip_newlines| truncate: 250 }} -->
                <a class="read-more" href="{{ post.url | relative_url }}">
                    <span class="material-icons">arrow_forward_ios</span> 
                    Lire la suite
                </a>
            </div>
        </article>
    {% endfor %}
    <!-- Pagination links -->
    {% capture spaceless %}
    {% assign total_pages = paginator.total_pages %}
    {% endcapture %}
    {% include pagination.html %}
</div>